<div class="list-product">


    <div class="container mt-5 mb-5">
        <h1 style="font-family: monospace;font-size: xx-large; color: #15087a; text-transform: uppercase;font-style: oblique;">Liste Produits</h1>
        <hr>
        <div class="d-flex justify-content-center row">
            <div class="col-md-10">
                <div class="row p-2 bg-white border rounded">
                    <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="../../../assets/images/product-3.jpg"></div>
                    <div class="col-md-6 mt-1">
                        <h1>Product N1</h1>
                        <div class="d-flex flex-row">
                            <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                        </div>
                        <div class="mt-1 mb-1 spec-1"><span>proprité 1</span><span class="dot"></span><span>proprité 2</span></div>
                        <div class="mt-1 mb-1 spec-1"><span>proprité 3</span><span class="dot"></span><span>proprité 4</span></div>
                        <p class="text-justify text-truncate para mb-0">Proin imperdiet massa lectus sagittis enim quis. Habitasse volutpat habitant sem tincidunt. Ligula pretium natoque volutpat quisque duis velit pellentesque etiam enim vehicula? Elementum ultrices lorem pharetra morbi nulla leo
                            conubia bibendum. Duis vivamus consequat lorem orci sem vel mollis fringilla aliquam<br><br></p>
                    </div>
                    <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                        <div class="d-flex flex-row align-items-center">
                            <h1 class="mr-1" style="font :bold; color: red;">$13.99</h1>
                        </div>
                        <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button">Details</button><button class="btn btn-outline-primary btn-sm mt-2" type="button">Commander</button></div>
                    </div>
                </div>
                <div class="row p-2 bg-white border rounded">
                    <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="../../../assets/images/product-2.jpg"></div>
                    <div class="col-md-6 mt-1">
                        <h1>Product N1</h1>
                        <div class="d-flex flex-row">
                            <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                        </div>
                        <div class="mt-1 mb-1 spec-1"><span>proprité 1</span><span class="dot"></span><span>proprité 2</span></div>
                        <div class="mt-1 mb-1 spec-1"><span>proprité 3</span><span class="dot"></span><span>proprité 4</span></div>
                        <p class="text-justify text-truncate para mb-0">Proin imperdiet massa lectus sagittis enim quis. Habitasse volutpat habitant sem tincidunt. Ligula pretium natoque volutpat quisque duis velit pellentesque etiam enim vehicula? Elementum ultrices lorem pharetra morbi nulla leo
                            conubia bibendum. Duis vivamus consequat lorem orci sem vel mollis fringilla aliquam<br><br></p>
                    </div>
                    <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                        <div class="d-flex flex-row align-items-center">
                            <h1 class="mr-1" style="font :bold; color: red;">$13.99</h1>
                        </div>
                        <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button">Details</button><button class="btn btn-outline-primary btn-sm mt-2" type="button">Commander</button></div>
                    </div>
                </div>
                <div class="row p-2 bg-white border rounded">
                    <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="../../../assets/images/product-15.jpg"></div>
                    <div class="col-md-6 mt-1">
                        <h1>Product N1</h1>
                        <div class="d-flex flex-row">
                            <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                        </div>
                        <div class="mt-1 mb-1 spec-1"><span>proprité 1</span><span class="dot"></span><span>proprité 2</span></div>
                        <div class="mt-1 mb-1 spec-1"><span>proprité 3</span><span class="dot"></span><span>proprité 4</span></div>
                        <p class="text-justify text-truncate para mb-0">Proin imperdiet massa lectus sagittis enim quis. Habitasse volutpat habitant sem tincidunt. Ligula pretium natoque volutpat quisque duis velit pellentesque etiam enim vehicula? Elementum ultrices lorem pharetra morbi nulla leo
                            conubia bibendum. Duis vivamus consequat lorem orci sem vel mollis fringilla aliquam<br><br></p>
                    </div>
                    <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                        <div class="d-flex flex-row align-items-center">
                            <h1 class="mr-1" style="font :bold; color: red;">$13.99</h1>
                        </div>
                        <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button">Details</button><button class="btn btn-outline-primary btn-sm mt-2" type="button">Commander</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
